*{
  padding: 0;
  margin: 0;
}

.container{
  height: 100vh;
  width: 100%;
  /*background-image: url(webdeV/obed-hernandez-P8ioEmnpQpI-unsplash.jpg);*/
  background:linear-gradient(45deg,#c6c4d3,rgb(218, 191, 164),rgb(215, 177, 209),rgb(166, 161, 192),#dedfac,rgb(176, 227, 227),rgb(148, 157, 235));
  background-position: center;
  background-size: cover;
  padding-left: 5%;
  padding-left: 5%;
  box-sizing: border-box;
  position: relative;
}
.logo{
  width: 200;
  cursor: pointer;
  margin-right: 0cm;
}
.navbar{
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
}
nav{
  flex: 1;
  padding-left: 600px;
  margin-bottom: 0cm;
  margin-top: 0cm;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0px 45px;
  margin-top: 0cm;
  margin-bottom: 0cm;
}


nav ul li{
  color: rgb(255, 255, 255);
  margin-right: 30px;
}
.bob{
  border-radius: 300px;
  margin-left:200px;
  color: blue;
}
nav ul li a{
  padding: 6px 15px;
  border-radius: 20px;

}
nav ul li a:hover{
  background:#fff ;
  color: #000;
  cursor: pointer;

}
nav ul li a:active{
  background:linear-gradient(45deg,rgb(230, 227, 227),rgb(169, 201, 255),rgb(230, 227, 227));
  color: rgba(184, 169, 169, 0.425);
  text-decoration: underline;
  cursor: pointer;

}
.sos{
  width: 90;
  bottom: 0;
  padding-left: 180px;
  padding-top: 200px;
}
.sos:hover{
  cursor: pointer;

}
.sos:active{
  cursor: pointer;
  animation: nope .1s forwards;

}
.lol{
 
  bottom: 0;
  padding-left: 650px;
  padding-top: 200px;
}
.lol:hover{
  cursor: pointer;

}
.lol:active{
  cursor: pointer;
  animation: nope .1s forwards;

}
.plan{
  width: 40;
  padding-right: 50;
  cursor: pointer;
  padding-left: 1130px;
}
.text1{
  padding-left: 180px;
}
.register{
  width: 2%;
  padding-top: 570px;
  padding-left: -1px;
  cursor: pointer;
}
.register{
  animation: no 2s infinite;
}
@keyframes nope{
  0%{
    transform: translateX(0px);
  }
  20%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(10px);
  }
  60%{
    transform: translateX(-10px);
  }
  80%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(0px);
  }
}
@keyframes no{
    0%{
      transform: translateY(0px);
    }
    50%{
      transform: translateY(-50px);
    }
    30%{
      transform: rotateY(180deg);
    }
    100%{
      transform: translateY(0px);
    }
}
.section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.form-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  flex: auto;
}
.form-wrapper .card{
  width: 360px;
  padding: 20px;
  background-color: rgb(0 0 0/35%);
  visibility: ;visibility: ;
  opacity: 1;
  transition: opacity 0.3s,visibility 0.3s;
}
.no{
  color: white;
  text-decoration: unset;
}
.ui{
  color: white;
  text-decoration: unset;
}

.card.show{
  visibility: visible;
  opacity: 1;
}
.card-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 20px 0;
  font-size: 1.1rem;
  color: #4e1283;
  box-shadow: 2px 3px 8px #200ee271;
  border-radius: 50px; 
}
.card-header .form-header{
  flex: 50%;
  text-align: center;
  padding: -10px 0;
  border: 1px solid transparent;
  border-radius: 50px;
  user-select: none;
  cursor: pointer;
}
.card-header .form-header.active{
  box-shadow: inset 1px 1px 2px rgb(19 210 177/55%),inset -1px 1px 2px rgb(19 210 177/55%),inset -1px -1px 2px rgb(19 210 177/55%),inset 1px -1px 2px rgb(19 210 177/55%) ;
  border-color: #94f7e6;
  transition: border-color .3s,box-shadow .3s;
}
.card-body{
  display: flex;
  flex-wrap: nowrap;
  padding: 40px 0;
  text-align: center;
}
.form{
  flex: 0 0 100%;
}
.toggleForm{
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}
.form-control{
  width: 100%;
  border: none;
  border-bottom:  1px solid rgb(135 255 249/65%);
  background: none;
  outline: none;
  padding: 10px 5px;
  margin-bottom: 20px;
  color: #fff;
}
.form-control::placeholder{
  color: rgb(134 255 249/65%);
}
.formButton{
  border: 1px solid transparent;
  padding: 1rem -3rem;
  background-color: #94f7e6;
  border-radius: 50px;
  margin-top: 1rem;
  font-size: 1rem;
  transition: transform .3s, box-shadow .3s;  
}
.formButton:hover{
  box-shadow: 3px 5px 15px #3c0240;
  transform: translateY(-5px);
  cursor: pointer;
}





